{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>





    <div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Aayush Prasad</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Aayush Prasad. Currently Pursuing Bachelors in
                    AI&ML. My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Blockchain and Flutter App Development.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:g2@bmsit.in'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                g2@bmsit.in<br>
            </div>
        </div>
    </div>




    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Anubhav Anand</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Anubhav Anand.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:g7@bmsit.in'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                g7@bmsit.in<br>
            </div>
        </div>
    </div>




    <div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Harshit Jain</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Harshit Jain. Currently Pursuing Bachelors in
                    AI&ML. </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:g21@bmsit.in'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                g21@bmsit.in<br>
            </div>
        </div>
    </div>




    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Shekhar Suman</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Shekhar Suman. 
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:g46@bmsit.in'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                g46@bmsit.in<br>
            </div>
        </div>
    </div>

</div>

{% endblock body %}